molecules
  > section
    margin-bottom 10px
    > h3
      margin 0
      padding 0
      width 100vw
      height 30px
      border-bottom solid 1px #b1dce0
      background-color #bceef2
      font normal 1em/30px "メイリオ",sans-serif
      span
        padding-left 15px
    > div
      padding-left 15px
      margin 10px 0
      &:empty
        height 40px
      > h5
        margin 5px 0
