atoms
  section
    height 30%
    margin-bottom 10px
    h3
      margin 0
      padding 0
      width 100vw
      height 30px
      border-bottom solid 1px #d1d1d1
      background-color #e8e8e8
      font normal 1em/30px "メイリオ",sans-serif
      span
        padding-left 15px
    > div
      height calc(100% - 30px)
      padding-left 15px
      display flex
      align-items center
